.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.table {
    width: 100%;
}



th, td {
    padding: 20px 150px;
    border-top: 1px solid grey;
}


.grey{
    background: gray;
}
.white{
    background: white;
}

.tasks{
    border: 4px black;
    /*box-shadow: 0 0 3px 1px;*/
    width: 90%;
    border-radius: 5px 5px 0 0;
    height: 40px;
    position: relative;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

.table{
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    width: 70%;
    margin-bottom: 10px;
    border: 1px solid black;
}

button{
    position: absolute;
    left: 90%;
    bottom: 20px;
}



@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
